body{
  background-color: #aabae6 ;
}

.app{
  background-color: white;
  width: 500px;
  min-height: 90vh;
  margin: 30px auto;
}
.container{
  display: flex;
  justify-content: center;
}

h1{
  color: #708dd6;
}

.btn{
  padding: 5px 15px;
  border: none;
  width: 60%;
  color: white;
  font-size: 16px;

}

.add{
  background-color: green;
  margin: 5px;
}

.delete{
  background-color: red;
  margin: 5px;
}

input{
  margin: 10px;
  padding: 7px;
  width: 70%;
}


.crossed{
  text-decoration: line-through 2px red;
  background-color: #d3e0fe;
  border-radius: 5px;
}

ul, li{
  list-style-type: none;
  margin-left: 20px;
  padding: 7px;
  font-size: 20px;
  
}

